<div class='book-cell'>
  <div class='row'>
    <div class='col-md-3'>
      <div class='d-flex h-100 justify-content-center flex-column'>
        <%= image_tag book.image, class: 'img-fluid book-img-prev' %>
      </div>
    </div>

    <div class='col-md-9'>
      <div class='d-flex flex-column flex-md-row h-100 mt-3 mt-md-0'>
        <div class='info w-100 pr-md-5'>
          <h4 class='font-weight-bold'><%= book.title %></h4>
          <p class='text-md text-justify text-overflow text-description'><%= book.description %></p>
        </div>

        <% if user_signed_in? %>
          <div class='book-actions'>
            <%= link_to 'Remover', book_path(book), data: { method: :delete, turbo: false }, class: 'btn btn-danger w-100 mt-2' %>
            <%= link_to 'Editar', book_path(book), data: { method: :patch, turbo: false }, class: 'btn btn-outline-primary w-100 mt-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>