<section class='section' data-controller='books'>
  <div class='section-header'>
    <h1>Livros</h1>
  </div>

  <div class='section-body'>
    <%= form_with url: search_books_path do |f| %>

      <%= f.submit class: 'd-none', data: { disable_with: false, 'books-target' => 'btnSubmit' } %>

      <div class='row'>
        <div class='col-md-4'>
            <div class='form-group'>
              <%= f.label :query, 'Buscar' %>
              <%= f.text_field :query, class: 'form-control', placeholder: 'Título, descrição, palavra-chave...', data: { action: 'keyup->books#search' } %>
            </div>
        </div>

        <div class='col-md-4'>
          <div class='form-group'>
            <%= f.label :order, 'Ordernar títulos por ordem' %>
            <%= f.select :order, options_for_select([['Crescente', :asc], ['Decrescente', :desc]]), { include_blank: 'Selecione' }, class: 'form-control', data: { action: 'change->books#search' } %>
          </div>
        </div>

        <div class='col-md-4'>
          <div class='form-group'>
              <%= f.label :author, 'Buscar por autor' %>
              <%= f.text_field :author, class: 'form-control', placeholder: 'Nome do autor', data: { action: 'keyup->books#search' } %>
            </div>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? %>
      <div class='row mb-4'>
        <div class='col-md-4 offset-md-8'>
          <%= link_to 'Cadastrar livro', new_book_path, class: 'btn btn-primary d-md-none w-100', data: { turbo: false } %>
          <div class='d-md-flex d-none justify-content-md-end'>
            <%= link_to 'Cadastrar livro', new_book_path, class: 'btn btn-primary', data: { turbo: false } %>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if @books.any? %>
      <%= render(partial: 'books', locals: { books: @books }) %>
    <% else %>
      <%= render(partial: 'without_books') %>
    <% end %>

  </div>
</section>
